{% extends "base.html" %}

{% block contenido %}
    <div class="card shadow mb-4">
        <div class="card-header py-3  text-center" style="background-color: #00AB27;">
            <h6 class="m-0 font-weight-bold text-light">FORMULARIO DE CONSULTA</h6>
        </div>
        <div class="card-body">
           
            <div class="row">

                <div class="col-12">
                    <select name="region" class="form-control js-example-basic-single" id="region" required>
                        <option value="" selected disabled>Seleccione una región</option>
                        {% for r in regiones %}
                            <option value="{{r.id_region}}">Regino: {{ r.nombre_region }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock contenido %}