{% extends "base.html" %}
{% load staticfiles %}

{% block contenido %}
    <div class="card shadow mb-4">
        <div class="card-header py-3  text-center" style="background-color: #00AB27;">
            <h6 class="m-0 font-weight-bold text-light">FORMULARIO DE CONSULTA</h6>
        </div>
        <div class="card-body">
           <form action=" {% url 'result_search' %} " method="POST">
            {% csrf_token %}
            <div class="row">

                <div class="col-7 py-2">
                    <select name="region" class="form-control js-example-basic-single" id="region" required>
                        <option value="" selected disabled>Seleccione una región</option>
                        {% for r in regiones %}
                            <option value="{{r.id_region}}">
                                Región:{{ r.nombre_region }}
                                Provincias de esta región: 
                                {% for p in r.id_provinvia.all %}
                                   &nbsp; {{p.nombre_provincia}}
                                {% endfor %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3 py-2 ">
                    <button type="submit" style="background-color: #00AB27;" class="btn text-light btn-block"> Realizar consulta  </button>
                </div>
            </form>
        </div>

</div>
    </div>

    <br> 

    <div class="card shadow mb-4">
        <div class="card-header py-3  text-center" style="background-color: #00AB27;">
            <h6 class="m-0 font-weight-bold text-light">Colsultar cosecha</h6>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-7 py-2">
                        <select name="cosecha" id="cosecha" class="form-control js-example-basic-single">
                            <option value="" disabled>Seleccione una cosecha(opcional)</option>
                            <option value="Todos" selected>Todos</option>
                            {% for r in cosechas %}
                                <option value="{{r.id_cosecha}}">{{r.nombre_cosecha}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3 py-2">
                        <button type="submit" style="background-color: #00AB27;" class="btn text-light btn-block"> Buscar Cosecha  </button>
                    </div>
                </div>
            </form>
        </div>
    
    
    </div>
    
    <div class="row px-2">
        {% if cosechas_search %}
        {% for c in cosechas_search %}
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="card-header  d-flex justify-content-between">
                    <a href="#cosecha_{{c.id_cosecha}}" class="d-block  collapsed" data-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="cosecha_{{c.id_cosecha}">
                        <h6 class="m-0 font-weight-bold text-success">{{ c.nombre_cosecha }}</h6>
                    </a>
                    <div class="">
                        <a href="#" style="background-color: #8B5A3C;" class="btn text-light">Imprimir</a>
                        <a href="#" class="btn btn-success">Ver detalles</a>
                    </div>
    
                </div>
    
                <!-- Card Content - Collapse -->
                <div class="collapse " id="cosecha_{{c.id_cosecha}}">
                    <img class="card-img-top" width="30%" height="300px" src="{{c.detalle_cosecha.foto}}" alt="Card image">
                    <div class="card-body">
                        {{c.descripcion}}
                    </div>
                </div>
    
    
            </div>
        </div>
        {% endfor %}
        {% endif %}
    
        {% if cosecha %}
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="card-header  d-flex justify-content-between">
                    <a href="#hola" class="d-block  collapsed" data-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="hola">
                        <h6 class="m-0 font-weight-bold text-success">{{ cosecha.nombre_cosecha }}</h6>
                    </a>
                    <div class="">
                        <a href="#" style="background-color: #8B5A3C;" class="btn text-light">Imprimir</a>
                        <a href="#" class="btn btn-success">Ver detalles</a>
                    </div>
    
                </div>
    
                <!-- Card Content - Collapse -->
                <div class="collapse " id="hola">
                    <img class="card-img-top" width="30%" height="300px" src="{{c.detalle_cosecha.foto}}" alt="Card image">
                    <div class="card-body">
                        {{cosecha.descripcion}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    
    
    </div>
    

    <script>
        $(document).ready(function(){
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock contenido %}