{% extends 'base.html' %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eliminar</title>

            {% block content %}
            <form method="POST">
                {% csrf_token %}
                <h3> ¿Desea eliminar este dato  {{ tipo_cosecha}}? </h3>
                <button class="btn btn-danger" type="Submit">Eliminar</button>
                <a class="btn btn-primary" href="{% url 'listar_cosecha' %}">Cancelar</a>
            </form>
            {% endblock %}



</head>
<body>

</body>
</html>
{% endblock contenido %}