{% extends "base.html" %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido %}
<header class="cuadro_titulo rounded bg-gradient-success text-center"> <h4 class="title text-light"> Mantenimiento | General </h4></header>
<br/><br/>
<a href="{% url 'crear_cosecha' %}" class="btn bg-gradient-success text-light"  id="registrar"><span class="glyphicon glyphicon-plus"></span>Agregar</a>

 <form action="/" method="POST">
    </form>
<div class="card shadow mb-4">
        <div class="card-header py-3  text-center" style="background-color: #00AB27;">
            <h6 class="m-0 font-weight-bold text-light"></h6>">
                <table class="table table-bordered"  width="100%" bgcolor="White" id="dataTable" cellspacing="10"data-page-length='10'>
                  <thead class="bg-gradient-success  text-light">
                    <tr class="text-center">
                                              <th>Tipo de cosecha</th>
                                              <th>Nombre de cosecha</th>
                                                <th>Descripcion</th>
                                                <th>vitamina</th>
                                                <th>Temperatura</th>
                                                <th>Tiempo de riego</th>
                                                <th>Humedad de la tierra</th>
                                                <th>Opcion</th
                                            </tr>
                                          </thead>
                                          <tbody>

                                          {% for general in object_list %}
                                            <tr>
                                              <td><strong>{{general.tipo_cosecha}}</strong></td>
                                              <td><strong>{{general.nombre_cosecha}}</strong></td>
                                                <td><strong>{{general.descripcion}}</strong></td>
                                                 <td><strong>{{general.vitamina}}</strong></td>
                                                <td><strong>{{general.temperatura}}</strong></td>
                                                <td><strong>{{general.tiempo_de_riego}}</strong></td>
                                                <td><strong>{{general.humedad_de_tierra}}</strong></td>
                                                <td>
                                                    <a href="{% url 'update_cosecha' general.id_cosecha  %}" class="btn btn-success" title="Editar"><i class=""></i></a>



                                              </td>


                                            </tr>
                                          {% endfor %}

                                          </tbody>
                                        </table>
                                      </div>

                                    </div>

                {% endblock contenido %}



