{% extends "base.html" %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido %}
<header class="cuadro_titulo rounded bg-gradient-primary text-center"> <h4 class="title text-light"> Mantenimiento | General </h4></header>
<br/><br/>
     <a href="{% url 'crear_cosecha' %}" class="btn bg-gradient-primary text-light"  id="registrar"><span class="glyphicon glyphicon-plus"></span>Agregar</a>
<br/><br/>
<br/><br/>
<br/><br/>
 <form action="/" method="POST">
    </form>
<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered"  width="100%" id="dataTable" cellspacing="0"data-page-length='5'>
                  <thead class="bg-gradient-primary text-light">


                    <tr class="text-center">
                                              <th>Tipo de cosecha</th>
                                              <th>Nombre de cosecha</th>
                                                <th>descripcion</th>
                                                <th>vitamina</th>
                                                <th>temperatura</th>
                                                <th>tiempo de riego</th>
                                                <th>humedad de la tierra</th>
                                            </tr>
                                          </thead>
                                          <tbody>

                                          {% for general in object_list %}
                                            <tr>
                                              <td><strong>{{general.tipo_cosecha}}</strong></td>
                                              <td><strong>{{general.nombre_cosecha}}</strong></td>
                                                <td><strong>{{general.descripcion}}</strong></td>
                                                 <td><strong>{{general.vitamina}}</strong></td>
                                                <td><strong>{{general.temperatura}}</strong></td>
                                                <td><strong>{{general.tiempo_de_riego}}</strong></td>
                                                <td><strong>{{general.humedad_de_tierra}}</strong></td>
                                                <td>
                                                    <a href="{% url 'update_cosecha' general.id_cosecha  %}" class="btn btn-primary" title="Editar"><i class="fas fa-info-circle"></i></a>
                                                    <a href="{% url 'eliminar_cosecha' general.id_cosecha  %}" class="btn btn-primary" title="eliminar"><i class="fas fa-info-circle"></i></a>
                                              </td>


                                            </tr>
                                          {% endfor %}

                                          </tbody>
                                        </table>
                                      </div>

                                    </div>

                {% endblock contenido %}



